body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    margin: 5vw;
}

p{
    font-size: 5vh;
}

img{
    width: 100%;
}