
img{
    width: 20vw;
}

body{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;

}

h1{
    font-size: 7vW;
    color: red;
}
p{
    font-size: 5vh;
}