body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: #000000;
}
.welcome{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}


.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: welcome2 6s;

}

img{height: 20vh;}

h1{
    font-size: 10vW;
    margin-bottom: -2vh;
    margin-top: -2vh;
    animation: welcome 2s;
}

h2{
    font-size: 4vW;
    margin-bottom: 10vh;
    animation: welcome2 4s;
}


@keyframes welcome {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes welcome2 {
  0%   {opacity: 0;}
  50%   {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes welcome3 {
  0%   {opacity: 0;}
  80%   {opacity: 0;}
  100% {opacity: 1;}
}